* {
    box-sizing: border-box;
}

.main {
    background-color: #181717;
}

.container {
    margin: 0 auto;
    width: 1140px;
    padding-top: 46px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 128px;

}

.button {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: solid 1px #E4B564;
    background: transparent;
    width: 218px;
    height: 50px;
}

.btn-image {
    background-image: url("../image/Vector (6).png");
    padding-left: 12px;
    padding-right: 12px;
    background-repeat: no-repeat;

}

.section-title {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.section-text {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section1 {
    display: grid;
    grid-template-rows: repeat(2, 360px);
    grid-template-columns:repeat(6, 1fr);
    gap: 30px;
    margin: 0;
    padding: 0;
    grid-template-areas:
"block-1-1 block-1-1 block-1-2 block-1-2  block-1-3 block-1-3"
"block-1-4 block-1-4 block-1-4  block-1-5 block-1-5 block-1-5"
}

.block-1-1 {
    background-color: #634F2C;
    grid-area: block-1-1;
    position: relative;

}

.block-1-2 {
    background-color: #B4A385;
    grid-area: block-1-2;
    position: relative;
}

.block-1-3 {
    background-color: #E4B564;
    grid-area: block-1-3;
    position: relative;
}

.block-1-4 {
    background-color: #635A4A;
    grid-area: block-1-4;
    position: relative;
}

.block-1-5 {
    background-color: #B08C4D;
    grid-area: block-1-5;
    position: relative;
}

.title2 {
    margin-bottom: 94px;
    margin-top: 164px;
}


.block-text {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);

}
.section2 {
    display: grid;
    grid-template-rows:1fr;
    grid-template-columns:repeat(3, 1fr);
    gap: 30px;
    margin: 0;
    padding: 0;
}

.block-2-1 {
    background-color: #0E0E0E;
    height: 313px;
}

.block-2-2 {
    background-color: #242424;
    height: 439px;
}

.block-2-3 {
    background-color: #1F1F1F;
    height: 255px;
}

.block-2-4 {
    background-color: #1F1F1F;
    height: 560px;
}

.block-2-5 {
    background-color: #E4B564;
    height: 405px;
}

.block-2-6 {
background-color: black;
    height: 313px;
}

.block-2-7 {
    background-color: #0A0909;
    height: 277px;
}
.section-text2 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 44px;
    padding-left:52px;
}
.clients-section {
    background-color: black;
}
.clients {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.clients>div {
    height: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client1 {
    background-color: #634F2C;
}
.client2 {
    background-color:  rgba(232, 210, 171, 0.76);
    flex-direction: column;
    text-align: center;
}
.client3 {
    background-color:  #E4B564;
}
.client4 {
    background-color:  #635A4A;
}
.client5 {
    background-color: #B08C4D;
}
.client6 {
    background-color: #634F2C;
}
.clients-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
}
.client-text {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;

}
